<% @news.each do |n|%>
	<h2><%=link_to n["title"],n["unescapedUrl"] %></h2>
	<p><%=raw n["content"]%><p>
	<p> <a href=<%="#{n["unescapedUrl"]}"%> ><%=raw n["publisher"]%></a>-<%=Time.parse(n["publishedDate"]).to_date %></p>
	<br />
<%end%>
