<!DOCTYPE html>
<html>
<head>
  <title>Semantic</title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= fb_connect_async_js %>

<% unless current_facebook_user.nil?%>
<img src="https://graph.facebook.com/<%= dash["id"].to_s %>/picture"/>
<%= "Welcome #{dash["name"]} !" %>

<%= fb_logout_link("Logout of fb", request.url) %><br />
<% else  %>
<%= fb_login_and_redirect('dashboards', :perms => 'email,read_stream') %>
<% end %>
<%= yield %>

</body>
</html>
