<!DOCTYPE html>
<html>
<head>
  <title>Semantic</title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= fb_connect_async_js %>

<% unless current_facebook_user.nil?%>  
	<% current_facebook_user.fetch %>

  <img src="https://graph.facebook.com/<%= current_facebook_user.id.to_s %>/picture"/>

<%= "Welcome #{current_facebook_user.name} !" %>

<%= fb_logout_link("Logout of fb", request.url) %><br />
<% else  %>
<%= fb_login_and_redirect('dashboards', :perms => 'email') %>
<% end %>
<%= yield %>

</body>
</html>
